    body{
    margin: 0;
    background-image: url("../images/Background_Clouds.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat-x;}

    .mainlayer{
    position: relative;
    width: 1200px;
    height: auto;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    
    border-radius: 3px;
    -moz-border-radius: 10px;
    border: #659dc7 1px double;}

    .authlayer{
    overflow: hidden;
    list-style: none;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;}

    .authlayer li{
    background: #659dc7;
    font-family: "century gothic", verdana, arial;
    font-size: 15px;
    float: left;
    text-align: center;
    padding: 5px;
    margin: 0.1em;

    border-radius: 3px;
    -moz-border-radius: 10px;
    border: #659dc7 1px solid;}

    li.auth a{
    color: white;}

    li.auth span{
    color: white;
    font-family: "century gothic", verdana;
    font-size: 20px;
    text-align: left;}

    .contentlayer{
    overflow: hidden;
    list-style: none;}

    .contentlayer li{
    background: #659dc7;
    float: left;
    text-align: center;
    color: white;
    font-family: "century gothic", verdana, arial;
    padding: 5px;
    
    border-radius: 3px;
    -moz-border-radius: 10px;
    border: #659dc7 1px solid;}

    .contentlayer1{
    overflow: hidden;
    list-style: none;}

    .contentlayer1 li{
    word-wrap: break-word;
    float: left;
    color: #659dc7;
    font-family: "century gothic", verdana, arial;
    font-size: 15px;
    text-align: left;
    width: 500px;
    vertical-align: middle;}

    a{
    text-decoration: none;
    font-family: "century gothic", verdana, arial;
    font-size: 15px;}

    .line{
    height: 2px;
    background: #659dc7;
    border: 0;}

    .links{
    position: absolute;
    bottom: 10px;
    left: 550px;}

    a:hover{
    cursor: hand;}
