    .contentlayer{  
    margin: 0.1em;}
    
    .contentlayer li{
    font-size: 18px;
    width: 500px;
    margin: inherit;}
    
    .contentlayer1{
    margin: 0.1em;}
    
    .contentlayer1 li{
    padding: 5px;
    margin: inherit;}
    
    a{
    color: #2a5474;}

    .links{
    position: absolute;
    bottom: 10px;
    left: 550px;}

    .line{
    width: 96%;
    margin: 5px 0 5px 45px;}
