  .user{
  overflow: hidden;
  list-style: none;
  margin: 0.1em;}

  .user li{
  background: #659dc7;
  float: left;
  text-align: left;
  color: white;
  font-family: "century gothic", verdana, arial;
  font-size: 15px;
  width: 900px;
  padding: 5px;
  margin: inherit;
  
  border-radius: 3px;
  -moz-border-radius: 10px;
  border: #659dc7 1px double;}

  .comment{
  overflow: hidden;
  list-style: none;
  margin: 0.1em;}

  .comment li{
  word-wrap: break-word;
  background: white;
  float: left;
  text-align: left;
  color: black;
  font-family: "century gothic", verdana, arial;
  font-size: 15px;
  width: 900px;
  padding: 5px;
  margin: inherit;}

  .msg_form form{
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-family: "century gothic", verdana, arial;
  font-size: 15px;

  border-radius: 3px;
  -moz-border-radius: 10px;
  border: #659dc7 1px double;}

  input{
  font-size: 15px;
  font-family: "century gothic", verdana, arial;}
