    .overlay{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    cursor: default;
    }

    .overlay:target{
    display: block;
    }

    /* стили модального окна */
    .popup {
      top: -100%;
      right: 0;
      left: 50%;
      font-size: 14px;
      z-index: 20;
      margin: 0;
      width: 85%;
      min-width: 200px;
      max-width: 300px;
      /* фиксированное позиционирование, окно стабильно при прокрутке */
      position: fixed;
      padding: 15px;
      border: 1px solid #383838;
      background: #fefefe;
      /* скругление углов */
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      font: 14px/18px 'Tahoma', Arial, sans-serif;
    }
    /* активируем модальный блок */
    .overlay:target+.popup {
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      top: 20%;
    }
    /* формируем кнопку закрытия */
    .close {
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      position: absolute;
      padding: 0;
      border: 2px solid #ccc;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      border-radius: 15px;
      background-color: rgba(61, 61, 61, 0.8);
      -webkit-box-shadow: 0px 0px 10px #000;
      -moz-box-shadow: 0px 0px 10px #000;
      box-shadow: 0px 0px 10px #000;
      text-align: center;
      text-decoration: none;
      font: 13px/20px 'Tahoma', Arial, sans-serif;
      font-weight: bold;
      -webkit-transition: all ease .8s;
      -moz-transition: all ease .8s;
      -ms-transition: all ease .8s;
      -o-transition: all ease .8s;
      transition: all ease .8s;
    }
    .close:before {
      color: rgba(255, 255, 255, 0.9);
      content: "X";
      text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
      font-size: 12px;
    }
    .close:hover {
      background-color: rgba(252, 20, 0, 0.8);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);    
    }
    /* изображения внутри окна */
    .popup img {
      width: 100%;
      height: auto;
    }
    /* миниатюры слева/справа */
    .pic-left, 
    .pic-right {
      width: 25%;
      height: auto;
    }
    .pic-left {
      float: left;
      margin: 5px 15px 5px 0;
    }
    .pic-right {
      float: right;
      margin: 5px 0 5px 15px;
    }
    /* элементы м-медиа, фреймы */
    .popup embed, 
    .popup iframe {
      top: 0;
      right: 0;
      bottom: 0; 
      left: 0; 
      display:block;
      margin: auto;
      min-width: 320px;
      max-width: 600px;
      width: 100%;
    }
