    body{
    margin: 0;
    background-image: url("../images/Background_Clouds.jpg");}
    
    .parent{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-image: url("../images/pets_24.png"); 
    background-size: 275px; 300px;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;}
    
    .block{
    background: white;
    padding: 10px;
    color: black;
    font-family: "century gothic", verdana, arial;
    font-size: 15px;

    border-radius: 3px;
    border: #659dc7 2px solid;}

    .subm{
    font-family: "century gothic", verdana, arial;
    font-size: 14px;}

    .links{
    font-family: "century gothic", verdana, arial;
    font-size: 14px;
    margin-left: 300px;}
