    body{
    margin: 0;
    background-image: url("../images/Background_Clouds.jpg");
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;}
    
    .parent{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-image: url("../images/parrot2.png"); 
    background-size: 181px; 231px;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;}
    
    .block{
    position: absolute;
    background: white;
    padding: 10px;
    margin: 10px;
    color: black;
    font-family: "century gothic", verdana, arial;
    font-size: 15px;

    border-radius: 3px;
    border: #659dc7 2px solid;}

    .span{
    color: white;
    font-family: "century gothic", verdana, arial;
    font-size: 18px;
    background: #659dc7; 
    border: 5px; 
    text-align: left;

    border-radius: 3px;
    border: #659dc7 2px solid;}

    .links{
    position: absolute;
    right: 50%;
    bottom: 10px;}

    .fieldset{
    font-family: "century gothic", verdana, arial;
    font-size: 12px;
    width: 500px;
    height: auto;}

    .legend{
    font-size: 10px;}

    .subm{
    position: absolute;
    right: 225px;
    bottom: 50px;
    font-family: "century gothic", verdana, arial;
    font-size: 14px;}
