    .mainlayer{
    min-height: 300px;
    background-position: right bottom;
    background-repeat: no-repeat;}

    .authlayer{
    margin-left: auto;}

    .contentlayer{
    padding-left: 5px;}
    
    .contentlayer li{
    font-size: 17px;
    width: 400px;
    margin-left: 5px;}

    a{
    color: #4e7796;}

    .image{
    position: absolute;
    bottom: 15px;
    right: 15px;}

    .button{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #659dc7;
    font-size: 15px;
    font-family: "century gothic", verdana;
    font-weight: 600;
    color: #2c539e;
    background: #a4d6e5;}
  
    .line{
    width: 98%;
    margin: 5px 0 5px 15px;}
